<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{shared/fragments :: header-css}"/>
  <h1 th:text="#{car}">CodeCouple</h1>
</head>
<body>
<form th:object="${postModel}" method="post" class="form-label">
  <table class="table table-striped table-hover">
    <tr>
      <td>
        Autor
      </td>
      <td>
        <input type="text" th:field="*{author}" /></br>
      </td>
    </tr>
    <tr>
      <td>
        Treść
      </td>
      <td>
        <input type="text" th:field="*{contents}" /></br>
      </td>
    </tr>
    <tr>
      <td>
        Kategorie
      </td>
      <td>
       <select th:field="*{category.id}">
        <option value="-1">--wybierz kategorię--</option>
         <option th:each="Post : ${category}"
            th:value="${Post.id}"
                 th:text=" ${Post.name}"/></select>
         </td>
    </tr>
    <tr>
      <td>
        Data
      </td>
      <td>
        <input type="date" th:field="*{addedDate}"/></br>
      </td>
    </tr>
    <tr>
      <td>
        Ilość dislików
      </td>
      <td>
        <input type="text" th:field="*{countOfDislike}"/></br>
      </td>
    </tr>
    <tr>
      <td>
        Ilość lików
      </td>
      <td>
        <input type="text" th:field="*{countOfLike}"/></br>
      </td>
    </tr>
    <tr>
      <td>
        super walidacja
      </td>
      <td>
        <input type="text" th:field="*{dateNew}"/>
        <p th:if="${#fields.hasErrors('dateNew')}" th:each="err : ${#fields.errors('dateNew')}" th:text="${err}"></p>
      </td>
    </tr>
  </table>
  <div th:each="pref: ${genresModel}">
    <input type="checkbox" th:field="*{genres}"
           th:value="${pref.id}"/>
    <label th:text="${pref.name}"></label>
  </div>
  <button type="sumbit" class="btn btn-success">click</button>
</form>
</body>
<div th:replace="~{shared/fragments :: footer}"/>
</html>
