<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{shared/fragments :: header-css}"/>
    <meta charset="UTF-8">
    <title>Strona powitalna</title>
</head>
<body>
<div th:replace="~{shared/fragments :: menu}"></div>
<div class="container">
    <div style="margin-top: 15px" class="alert alert-danger" role="alert" th:text="${success}" th:if="${success}"></div>
    <div style="margin-top: 15px" class="alert alert-success" role="alert" th:text="${addedd}" th:if="${addedd}"></div>

    <form th:object="${searchObject}"  method="post" class="form-label">
        Tytuł <input type="text" th:field="*{title}" />
    <select th:field="*{categoryId}">
        <option th:each="Post : ${categories}"
                th:value="${Post.id}"
                th:text=" ${Post.name}"/>
        <option value=0>Brak</option>
    </select>
    <button type="sumbit" class="btn btn-success">Wyszukaj</button>
    </form>

<span th:unless="${#lists.isEmpty(atrybut)}">
    <table  style="width: 100%;">
        <div class="list-group list-group-light">

            <tr th:each="post : ${atrybut}">
                <a th:href="@{/post/{id}(id=${post.id})}" class="list-group-item list-group-item-action px-3 border-0 rounded-3 mb-2">
                    <div class="card">
                        <div class="card-header"style="background-color: #54B4D3;">
                            <span th:text="${post.title}"/>
                            <span th:each="genre : ${post.genres}"><span  class="badge" th:text="${genre.name}"></span> </span>
                        </div>
                        <div class="card-body"   style="background-color: #9FA6B2;">
                            <h5 class="card-title"> <span th:text="${post.author}"/></h5>
                        </div>
                    </div>
                </a>
            </tr>
        </div>
    </table>
</span>

    <span th:if="${#lists.isEmpty(atrybut)}"> Lista jest pusta </span>
    <a th:href="@{/}">Powrót</a>
    <div th:insert="~{shared/fragments :: footer}"></div>
</div>
</body>
</html>
